.author {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: 10px;
    left: 10px;
    background-color: $color-accent; 
    color: $color-primary;
    width: fit-content;
    padding: 5px 20px;
    border-radius: $radius-base;

    img {
        width: 20px;
        height: 25px;
        object-fit: cover;
    }
}
