.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.center-content {
    display: flex;
    justify-content: center;
}

.width-half {
    width: 50%;
}

.section-space-small {
    margin: 2rem 0;
}